@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

html{
    background: #dddd;
}
.back{
    background: white;
    height: 1000px;
    width: 800px;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.log{
    height: auto;
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
    padding: 30px;
    margin-bottom: 40px;
    -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    -moz-box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    /* box-shadow: 0 8px 0 rgba(0,0,0,0.2), 0 6px 0 rgba(0,0,0,0.19); */
}
.heading{
    text-align: center;
    margin-top: 40px ;
}
.input{
   height: 30px; 
   width: 90%;
   margin-top: 10px;
   margin-bottom: 10px;
}

.btn{
    border-radius: 5px;
    padding: 10px 30px;
    background: #666;
    color: white;
    font-size: 16px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-left: 10px;
    outline: none;
    cursor: pointer;
}
label{
    margin-top: 10px;
}
h1,h2,h3,h4,h5,label{
    color: rgb(29, 0, 56);
    font-weight: 700;
}
/* home page */
.home-bannerImg{
    width: 1200px;  
}
.home-bannerImg img{
    width: 100%;
    height: 300px;
    margin-left: 100px;
    border-radius: 20px;
    -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    -moz-box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#section{
    height: auto;
    width: 1400px;
    margin-left: 90px;
}

#content{
    height: auto;
    width: 950px;
    float: left;
}
.student-pic{
    height: 200px;
    width: 200px;
    float: left;
    margin: 20px;
}

p{
    text-align: justify;
    padding: 10px;
    line-height: 34px;
    margin-top: 40px;
}


.footer{
    background: #04293a;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer{
    text-align: center;
    color: rgb(255, 254, 252);
    line-height: 50%;
}

