@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

html{
    background: #dddd;
}
a{
    list-style: none;
}
/* index.php */
.back{
    background: white;
    height: 1000px;
    width: 800px;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.log{
    height: auto;
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
    padding: 30px;
    margin-bottom: 40px;
    -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    -moz-box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    /* box-shadow: 0 8px 0 rgba(0,0,0,0.2), 0 6px 0 rgba(0,0,0,0.19); */
}
.heading{
    text-align: center;
    margin-top: 40px ;
}
.input{
   height: 30px; 
   width: 90%;
   margin-top: 10px;
   margin-bottom: 10px;
}

.btn{
    border-radius: 5px;
    padding: 10px 30px;
    background: #666;
    color: white;
    font-size: 16px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin-left: 10px;
    outline: none;
    cursor: pointer;
}
label{
    margin-top: 10px;
}
h1,h2,h3,h4,h5,label{
    color: rgb(29, 0, 56);
    font-weight: 700;
}
.error{
    color: red;
    background-color: #001613;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 5px;
}


/* home page */
.home-bannerImg{
    width: 1200px;  
}
.home-bannerImg img{
    width: 100%;
    height: 300px;
    margin-left: 100px;
    border-radius: 20px;
    -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    -moz-box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#section{
    height: auto;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

#content{
    height: auto;
    width: 70%;
    margin-left: 30px;
    margin-top: 10px;
}
.student-pic{
    height: 200px;
    width: 200px;
    margin: 20px;
    border-radius: 5px;
    margin-left: 0px;
}

.desc{
    text-align: justify;
    margin-top: 40px;
    width: 400px;
    height: auto;
}
.pic-desc{
    display: flex;
}
/* sidebar */
.main-desc{
    width: 30%;
    border-radius: 10px;
}
.text{
    text-align: center;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebar{
    height: auto;
    margin-top: 10px;
    margin-left: 30px;
    background: white;
}
.li{
    position:  relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: 5px;
    background-color: white;
    border: 1px solid #666;
}
/* navbar started */
.navbar{
    background: #04293a;
    height: 60px;
    width: 100%;
}
.list{
    list-style: none;
    text-align: center;
}

.list li{
    display: inline;
}
.list li a{
    text-decoration: none;
    color: white;
    line-height: 50px;
    padding: 20px;
}


/* footer started */
.footer{
    background: #04293a;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
.footer{
    text-align: center;
    color: rgb(255, 254, 252);
    line-height: 50%;
}

